{% extends 'structure.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Signup</title>
{% endblock %}
{% block content %}
    <form method="POST" >
        <div class="container">
           {% csrf_token %}
        </div>
        {% csrf_token %}
        <hr style="height:3px" color="Aqua" />
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
            <div class="navbar-nav">
                <a class="navbar navbar-light" href="{% url 'addtask_url' %}">Add Tasks</a>
                <a class="navbar navbar-light" href="{% url 'signup_url' %}">View Tasks</a>
            </div>
        </nav>
        <hr style="height:3px" color="Aqua" />
    </form>
{% endblock %}